@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
/* Add some basic styling to the page */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2 {
  text-align: center;
  color: #006699;
}

/* Center the main content on the page */
.row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

/* Style the columns within the main content */
.column {
  flex: 1;
  margin: 20px;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 5px;
  text-align: center;
}

/* Style the list within the columns */
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Add hover effect to list items */
li:hover {
  background-color: #0db2ff;
  cursor: pointer;
}
/* Add styles for navigation bar */
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #006699;
  color: white;
  padding: 20px;
}
.navbar a {
  color: white;
  text-decoration: none;
  margin-right: 10px;
}

.navbar a:hover {
  background-color: rgb(132, 167, 219); /* change background color on hover */
}
img {
  width: 300px;
  height: auto;
}
form {
  
  display: flex;
  flex-direction: column;
  align-items: center;
}


input[type="search"] {
  padding: 0.5em;
  font-size: 1em;
  margin-right: 0.5em;
  border-radius: 0.25em 0 0 0.25em;
  border: none;
  outline: none;
}

button[type="submit"] {
  padding: 0.5em 1em;
  font-size: 1em;
  background-color: #006699;
  color: white;
  border-radius: 0 0.25em 0.25em 0;
  border: none;
  cursor: pointer;
}

.slideshow-container {
  width: 100%;
  height: 400px;
  position: relative;
}

.slides {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1s;
}

.slides:first-child {
  opacity: 1;
}

/* Style for the dropdown button */
.dropbtn {
  background-color: #006699;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Style for the dropdown content */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Style for the links within the dropdown content */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change background color on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button on hover */
.dropdown:hover .dropbtn {
  background-color: #006699;
}

/* Nav Bar Cart Icon */
.cart-icon {
  position: absolute;
  top: auto;
  right: 260px;
}

.cart-icon img {
  width: 40px;
}

/* Cart Page Styles */

.cart {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 80%;
  margin: 0 auto;
}

.cart-item {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 100%;
}

.cart-item img {
  width: 20%;
  height: 20%;
  object-fit: cover;

}

.cart-item .item-details {
  width: 50%;
  padding: 0 5px;
}

.cart-item h2 {
  text-align: left;
  margin-bottom: 20px;
  }

.cart-item .quantity {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.cart-item .quantity input {
  width: 40px;
  text-align: center;
}

.cart-item .remove-button {
  background-color: #ff0000;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.cart-item .remove-button:hover {
  background-color: #d90429;
}

.cart-total {
text-align: end;
}

/* .checkout-btn {
margin: 0 auto;
font-size: large;
position: relative;
} */


.checkout-btn {
  position: absolute;
  bottom: 1;
  right: 00%;
  transform: translateX(-50%);
  width: 150px;
  height: 50px;
  font-size: 20px;
}

/* Freshwater fish Page from Category */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  color: #0066 99;
}

/* Style the list of freshwater fish */
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  margin: 35px 0;
}

img {
  display: block;
  margin: 0 auto;
  width: 50%;
}

.center-text {
  text-align: center;
}

.footer {
  background-color: #006699;
  color: white;
  text-align: center;
  padding: 30px;
}
/* .footer nav {
  display: flex;
  justify-content: center;
 
} */

